:host {

--green-900 : #323232;
--green-800 : #4B4B4B;
--green-700 : #606060;
--green-600 : #757575;
--green-500 : #8A8A8A;
--green-400 : #9F9F9F;
--green-300 : #B4B4B4;
--green-200 : #C9C9C9;
--green-100 : #DEDEDE;
--green-50 : #F3F3F3;

--red-900 : #323232;
--red-800 : #4B4B4B;
--red-700 : #606060;
--red-600 : #757575;
--red-500 : #8A8A8A;
--red-400 : #9F9F9F;
--red-300 : #B4B4B4;
--red-200 : #C9C9C9;
--red-100 : #DEDEDE;
--red-50 : #F3F3F3;

--blue-900 : #323232;
--blue-800 : #4B4B4B;
--blue-700 : #606060;
--blue-600 : #757575;
--blue-500 : #8A8A8A;
--blue-400 : #9F9F9F;
--blue-300 : #B4B4B4;
--blue-200 : #C9C9C9;
--blue-100 : #DEDEDE;
--blue-50 : #F3F3F3;
}