:host {
--gray-900 : #100C14;
--gray-800 : #2F272F;
--gray-700 : #494249;
--gray-600 : #635D63;
--gray-500 : #7D787D;
--gray-400 : #979397;
--gray-300 : #B1AEB1;
--gray-200 : #CBC9CB;
--gray-100 : #E5E4E5;
--gray-50 : #FFFFFF;
}